<section aria-label="Site alert" class="bg-red-warm-60v border-l-8 border-l-red-warm-60v text-white">
  <div class="py-4 pl-2 pr-4 @desktop:pl-8 @desktop:pr-16 relative max-w-5xl mx-auto">
    <p class="leading-normal"><strong>Short alert message.</strong> Lorem ipsum dolor sit amet, <a href="#" class="text-gray-10 underline">consectetur adipiscing</a> elit, sed do eiusmod.</p>
  </div>
</section>
