<section aria-label="Site alert" class="bg-cyan-5 border-l-8 border-l-cyan-30v">
  <div class="py-4 pl-12 pr-4 desktop:px-16 relative max-w-5xl mx-auto">
    <div class="absolute left-2 desktop:left-6 top-3">
      <div class="icon-[material-symbols--info] size-8"></div>
    </div>
    <h3 class="text-2xl font-bold mb-2 leading-none">Emergency alert message</h3>
    <p class="leading-normal">Lorem ipsum dolor sit amet, <a href="#" class="text-blue-60v underline">consectetur adipiscing</a> elit, sed do eiusmod.</p>
  </div>
</section>
