<section aria-label="Site alert" class="bg-red-warm-60v border-l-8 border-l-red-warm-60v text-white">
  <div class="py-4 pl-12 pr-4 desktop:px-16 relative max-w-5xl mx-auto">
    <div class="absolute left-2 desktop:left-6 top-3">
      <div class="icon-[material-symbols--info] size-8"></div>
    </div>
    <h3 class="text-2xl font-bold mb-2 leading-none">Emergency alert message</h3>
    <ul class="list-disc space-y-1 pl-4 mt-4">
      <li>
        The primary emergency message and <a class="text-gray-10 underline" href="#">a link</a> for supporting context.
      </li>
      <li>
        Another message, <a class="text-gray-10 underline" href="#">and another link</a>.
      </li>
      <li>A final emergency message.</li>
    </ul>
  </div>
</section>
