---
import { Code } from "astro-expressive-code/components";

type Props = {
  class?: string;
  code: string;
  lang: string;
  title?: string;
};

const { code, lang, title, class: className } = Astro.props;
---

<div x-data="collapsible" class:list={["relative overflow-hidden", className]}>
  <div
    :class="isShowingClass"
    class="overflow-hidden not-docs-prose"
    x-ref="code"
  >
    <Code title={title} code={code} lang={lang} wrap />
  </div>
  <button
    x-show="isShowingButton"
    type="button"
    @click="toggleExpanded"
    class="group flex justify-center items-end h-32 pb-3 absolute inset-x-0 bottom-0 bg-gradient-to-t from-gray-cool-2/100 from-[24px] to-gray-cool-2/0 border-gray-cool-20 border-b border-x rounded-b outline-none"
  >
    <div
      class="flex items-center gap-2 rounded font-bold leading-none text-white px-5 py-3 bg-blue-60v group-hover:bg-blue-warm-70v group-active:bg-blue-warm-80v group-focus:outline group-focus:outline-4 group-focus:outline-offset-4 group-focus:outline-blue-40v"
    >
      <span>Expand Code</span>
    </div>
  </button>
</div>
