---
type Props = {
  hex: string,
  level: string
}

const { hex, level } = Astro.props

---
<div class="flex max-desktop:items-center gap-2 desktop:flex-col desktop:gap-1">
  <div class="h-10 w-full max-w-24 rounded-sm" style={{backgroundColor: hex}}></div>
  <div>
    <div class="flex">
      <span class="text-sm font-medium leading-tight">{level}</span>
    </div>
    <div class="flex">
      <span class="text-xs font-roboto-mono text-gray-cool-50 leading-tight">{hex}</span>
    </div>
  </div>
</div>
