---
type Props = {
  class?: string;
};

const { class: className } = Astro.props;
---

<footer class:list={["", className]}>
  <div
    class="flex gap-1 items-start px-4 max-tablet:py-4 max-tablet:flex-col tablet:justify-between tablet:items-center tablet:h-16"
  >
    <p class="text-sm text-gray-cool-60 flex gap-2">
      <span>All rights reserved</span>
      <span>|</span>
      <span>MIT License</span>
    </p>
    <p class="text-sm">
      <a
        href="https://github.com/IHIutch/uswds-tailwind"
        rel="noreferrer"
        target="_blank"
        class="inline-flex items-center text-blue-60v visited:text-violet-70v hover:text-blue-70v focus:outline focus:outline-4 focus:outline-blue-40v underline after:icon-[material-symbols--open-in-new] after:size-4 after:align-middle after:ml-px"
      >
        Contribute on GitHub
        <span class="sr-only">External</span>
      </a>
    </p>
  </div>
</footer>
