---
type Props = {
  class?: string;
};

const { class: className } = Astro.props;
---

<li
  class:list={[
    className,
    "relative pl-8 pb-8 before:flex before:items-center before:justify-center before:border-4 before:border-gray-90 before:color-gray-90 before:size-10 before:rounded-full before:-left-6 before:-top-1.5 before:absolute before:bg-white before:outline-4 before:outline before:outline-offset-0 before:outline-white border-l-8 border-l-blue-10 before:[counter-increment:usa-numbered-list] before:content-[counter(usa-numbered-list)] before:font-bold before:text-2xl last:border-l-transparent",
  ]}
>
  <slot />
</li>
