<div x-modal>

	<button x-modal:trigger class="rounded font-bold leading-none text-white px-5 py-3 bg-blue-60v hover:bg-blue-warm-70v active:bg-blue-warm-80v focus:outline focus:outline-4 focus:outline-offset-4 focus:outline-blue-40v">Open modal with forced action</button>

	<div>
		<div x-cloak x-modal:dialog data-force-action class="fixed z-50 inset-0 overflow-y-auto flex items-center justify-center p-4 animate-in ease-in-out duration-150 fade-in">
			<div x-modal:content class="@container relative w-full max-w-lg rounded-lg bg-white shadow-lg">
				<div class="p-8 pt-10">
					<h2 x-modal:title class="text-xl font-bold font-merriweather">Your session will end soon.</h2>
					<div class="mt-4">
						<p x-modal:description class="mt-2 text-gray-600">You've been inactive for too long. Please choose to stay signed in or sign out. Otherwise, you’ll be signed out automatically in 5 minutes.</p>
					</div>
					<div class="mt-6">
						<ul class="flex flex-col @mobile-lg:flex-row gap-2">
							<li class="flex">
								<button x-modal:close-button type="button" class="rounded font-bold leading-none text-white px-5 py-3 bg-blue-60v hover:bg-blue-warm-70v active:bg-blue-warm-80v focus:outline focus:outline-4 focus:outline-offset-4 focus:outline-blue-40v">Yes, stay signed in</button>
							</li>
							<li class="flex">
								<button x-modal:close-button type="button" class="p-3 underline leading-none text-blue-60v bg-transparent hover:text-blue-warm-70v active:text-blue-warm-80v focus:outline focus:outline-4 focus:outline-offset-4 focus:outline-blue-40v">Sign out</button>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<template x-teleport="body">
			<div x-cloak x-modal:backdrop class="fixed z-40 inset-0 bg-black/70 animate-in ease-in-out duration-150 fade-in"></div>
		</template>

	</div>
</div>
