<ul class="list-none space-y-3 max-w-lg">
  <li class="flex gap-1.5">
    <div class="icon-[material-symbols--check-circle] size-6 shrink-0 text-green-50v"></div>
    <div>
      <p>Wash your hands for 20 seconds with soap</p>
    </div>
  </li>
  <li class="flex gap-1.5">
    <div class="icon-[material-symbols--check-circle] size-6 shrink-0 text-green-50v"></div>
    <div>
      <p>Stay six feet away from others</p>
    </div>
  </li>
  <li class="flex gap-1.5">
    <div class="icon-[material-symbols--cancel] size-6 shrink-0 text-red-50v"></div>
    <div>
      <p>Avoid large gatherings</p>
    </div>
  </li>
</ul>
