<ul class="list-none space-y-3">
  <li class="flex gap-1.5">
    <div class="icon-[material-symbols--help] size-8 shrink-0 text-blue-50v"></div>
    <div>
      <p class="text-xl pt-0.5"><span class="font-bold">Timing.</span> Is now the right time to start a business?</p>
    </div>
  </li>
  <li class="flex gap-1.5">
    <div class="icon-[material-symbols--help] size-8 shrink-0 text-blue-50v"></div>
    <div>
      <p class="text-xl pt-0.5"><span class="font-bold">Funding.</span> Do I have enough money to launch a business?</p>
    </div>
  </li>
  <li class="flex gap-1.5">
    <div class="icon-[material-symbols--help] size-8 shrink-0 text-blue-50v"></div>
    <div>
      <p class="text-xl pt-0.5"><span class="font-bold">Need.</span> Will this business fill a real need for my customers?</p>
    </div>
  </li>
</ul>
