<footer class="@container">
	<div class="px-4 py-5 @desktop:px-8">
		<a href="#" class="text-blue-60v visited:text-violet-70v hover:text-blue-70v focus:outline focus:outline-4 focus:outline-blue-40v underline">Return to top</a>
	</div>
	<nav class="bg-gray-5 @desktop:px-4 grid @mobile-lg:grid-cols-3">
		<ul class="flex flex-wrap @mobile-lg:col-span-2 flex-col @mobile-lg:flex-row divide-y @mobile-lg:divide-y-0 divide-y-gray-30 border-y @mobile-lg:border-y-0 border-y-gray-30">
			<li class="@mobile-lg:w-1/2 @desktop:w-auto">
				<a href="#" class="block p-4 font-bold text-gray-90 visited:text-violet-70v hover:text-blue-70v focus:outline focus:outline-4 focus:outline-blue-40v underline">{Primary link}</a>
			</li>
			<li class="@mobile-lg:w-1/2 @desktop:w-auto">
				<a href="#" class="block p-4 font-bold text-gray-90 visited:text-violet-70v hover:text-blue-70v focus:outline focus:outline-4 focus:outline-blue-40v underline">{Primary link}</a>
			</li>
			<li class="@mobile-lg:w-1/2 @desktop:w-auto">
				<a href="#" class="block p-4 font-bold text-gray-90 visited:text-violet-70v hover:text-blue-70v focus:outline focus:outline-4 focus:outline-blue-40v underline">{Primary link}</a>
			</li>
			<li class="@mobile-lg:w-1/2 @desktop:w-auto">
				<a href="#" class="block p-4 font-bold text-gray-90 visited:text-violet-70v hover:text-blue-70v focus:outline focus:outline-4 focus:outline-blue-40v underline">{Primary link}</a>
			</li>
		</ul>
		<address class="flex flex-wrap p-4 @mobile-lg:p-0 gap-x-8 @mobile-lg:gap-x-0">
			<div class="w-auto @mobile-lg:w-full @desktop:p-4 leading-tighter">
				<a href="tel:1-800-555-5555" class="@mobile-lg:block @mobile-lg:p-4 @desktop:p-0 @desktop:inline text-gray-90 visited:text-violet-70v hover:text-blue-70v focus:outline focus:outline-4 focus:outline-blue-40v underline">(800) 555-GOVT
				</a>
			</div>
			<div class="w-auto @mobile-lg:w-full @desktop:p-4 leading-tighter">
				<a href="mailto:info@agency.gov" class="@mobile-lg:block @mobile-lg:p-4 @desktop:p-0 @desktop:inline text-gray-90 visited:text-violet-70v hover:text-blue-70v focus:outline focus:outline-4 focus:outline-blue-40v underline">info@agency.gov
				</a>
			</div>
		</address>
	</nav>
	<div class="bg-gray-10 px-4 @desktop:px-8 py-5">
		<div class="flex flex-wrap @mobile-lg:items-center @mobile-lg:justify-between gap-4">
			<img src="" alt="" class="bg-white size-12 rounded-full object-cover">
			<p class="text-xl font-bold">Agency Contact Center</p>
		</div>
	</div>
</footer>
