<ol class="pt-5 pl-4 [counter-reset:usa-numbered-list]">
  <li class="relative pl-8 pb-8  before:flex before:items-center before:justify-center before:border-4 before:border-gray-90 before:color-gray-90 before:h-10 before:w-10 before:rounded-full before:-left-6 before:-top-1.5 before:absolute before:bg-white before:outline-4 before:outline before:outline-offset-0 before:outline-white border-l-8 border-l-blue-10 before:[counter-increment:usa-numbered-list] before:content-[counter(usa-numbered-list)] before:font-bold before:text-2xl last:border-l-transparent">
    <div class="max-w-prose -top-1 relative">
      <h4 class="text-3xl font-bold">Start a process</h4>
      <p class="text-xl font-light mt-2">Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum.</p>
    </div>
  </li>
  <li class="relative pl-8 pb-8  before:flex before:items-center before:justify-center before:border-4 before:border-gray-90 before:color-gray-90 before:h-10 before:w-10 before:rounded-full before:-left-6 before:-top-1.5 before:absolute before:bg-white before:outline-4 before:outline before:outline-offset-0 before:outline-white border-l-8 border-l-blue-10 before:[counter-increment:usa-numbered-list] before:content-[counter(usa-numbered-list)] before:font-bold before:text-2xl last:border-l-transparent">
    <div class="max-w-prose -top-1 relative">
      <h4 class="text-3xl font-bold">Proceed to the second step.</h4>
      <p class="text-xl font-light mt-2">Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat.</p>
    </div>
  </li>
  <li class="relative pl-8 pb-8  before:flex before:items-center before:justify-center before:border-4 before:border-gray-90 before:color-gray-90 before:h-10 before:w-10 before:rounded-full before:-left-6 before:-top-1.5 before:absolute before:bg-white before:outline-4 before:outline before:outline-offset-0 before:outline-white border-l-8 border-l-blue-10 before:[counter-increment:usa-numbered-list] before:content-[counter(usa-numbered-list)] before:font-bold before:text-2xl last:border-l-transparent">
    <div class="max-w-prose -top-1 relative">
      <h4 class="text-3xl font-bold">Complete the step-by-step process</h4>
      <p class="text-xl font-light mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque.</p>
    </div>
  </li>
</ol>
