{% import "../macros/pagination-link.twig" as pagination %}

<nav aria-label="Pagination" class="flex justify-center">
  <ul class="flex space-x-2">
    {{ pagination.input('username') }}
  </ul>
</nav>
