<table class="border-separate table-auto w-full border-spacing-0">
	<caption class="mb-3 text-left font-bold">Sticky header table</caption>
	<thead class="sticky top-0">
		<tr class="*:bg-gray-10 *:text-left *:border [&:not(:first-child)]:*:border-l-0 *:border-black *:px-4 *:py-2">
			<th scope="col">Document title</th>
			<th scope="col">Description</th>
			<th scope="col">Year</th>
		</tr>
	</thead>
	<tbody>
		<tr class="*:bg-white *:text-left *:border [&:not(:first-child)]:*:border-l-0 *:border-black *:border-t-0 *:px-4 *:py-2">
			<th scope="row" class="font-normal">Declaration of Independence</th>
			<td>Statement adopted by the Continental Congress declaring independence from the British Empire.</td>
			<td>1776</td>
		</tr>
		<tr class="*:bg-white *:text-left *:border [&:not(:first-child)]:*:border-l-0 *:border-black *:border-t-0 *:px-4 *:py-2">
			<th scope="row" class="font-normal">Bill of Rights</th>
			<td>The first ten amendments of the U.S. Constitution guaranteeing rights and freedoms.</td>
			<td>1791</td>
		</tr>
		<tr class="*:bg-white *:text-left *:border [&:not(:first-child)]:*:border-l-0 *:border-black *:border-t-0 *:px-4 *:py-2">
			<th scope="row" class="font-normal">Declaration of Sentiments</th>
			<td>A document written during the Seneca Falls Convention outlining the rights that American women should be entitled to as citizens.</td>
			<td>1848</td>
		</tr>
		<tr class="*:bg-white *:text-left *:border [&:not(:first-child)]:*:border-l-0 *:border-black *:border-t-0 *:px-4 *:py-2">
			<th scope="row" class="font-normal">Emancipation Proclamation</th>
			<td>An executive order granting freedom to slaves in designated southern states.</td>
			<td>1863</td>
		</tr>
		<tr class="*:bg-white *:text-left *:border [&:not(:first-child)]:*:border-l-0 *:border-black *:border-t-0 *:px-4 *:py-2">
			<th scope="row" class="font-normal">Declaration of Independence</th>
			<td>Statement adopted by the Continental Congress declaring independence from the British Empire.</td>
			<td>1776</td>
		</tr>
		<tr class="*:bg-white *:text-left *:border [&:not(:first-child)]:*:border-l-0 *:border-black *:border-t-0 *:px-4 *:py-2">
			<th scope="row" class="font-normal">Bill of Rights</th>
			<td>The first ten amendments of the U.S. Constitution guaranteeing rights and freedoms.</td>
			<td>1791</td>
		</tr>
		<tr class="*:bg-white *:text-left *:border [&:not(:first-child)]:*:border-l-0 *:border-black *:border-t-0 *:px-4 *:py-2">
			<th scope="row" class="font-normal">Declaration of Sentiments</th>
			<td>A document written during the Seneca Falls Convention outlining the rights that American women should be entitled to as citizens.</td>
			<td>1848</td>
		</tr>
		<tr class="*:bg-white *:text-left *:border [&:not(:first-child)]:*:border-l-0 *:border-black *:border-t-0 *:px-4 *:py-2">
			<th scope="row" class="font-normal">Emancipation Proclamation</th>
			<td>An executive order granting freedom to slaves in designated southern states.</td>
			<td>1863</td>
		</tr>
		<tr class="*:bg-white *:text-left *:border [&:not(:first-child)]:*:border-l-0 *:border-black *:border-t-0 *:px-4 *:py-2">
			<th scope="row" class="font-normal">Declaration of Independence</th>
			<td>Statement adopted by the Continental Congress declaring independence from the British Empire.</td>
			<td>1776</td>
		</tr>
		<tr class="*:bg-white *:text-left *:border [&:not(:first-child)]:*:border-l-0 *:border-black *:border-t-0 *:px-4 *:py-2">
			<th scope="row" class="font-normal">Bill of Rights</th>
			<td>The first ten amendments of the U.S. Constitution guaranteeing rights and freedoms.</td>
			<td>1791</td>
		</tr>
		<tr class="*:bg-white *:text-left *:border [&:not(:first-child)]:*:border-l-0 *:border-black *:border-t-0 *:px-4 *:py-2">
			<th scope="row" class="font-normal">Declaration of Sentiments</th>
			<td>A document written during the Seneca Falls Convention outlining the rights that American women should be entitled to as citizens.</td>
			<td>1848</td>
		</tr>
		<tr class="*:bg-white *:text-left *:border [&:not(:first-child)]:*:border-l-0 *:border-black *:border-t-0 *:px-4 *:py-2">
			<th scope="row" class="font-normal">Emancipation Proclamation</th>
			<td>An executive order granting freedom to slaves in designated southern states.</td>
			<td>1863</td>
		</tr>
	</tbody>
</table>
