---
import type { NavLinks } from "types";
import DesktopNav from "./desktop-nav.astro";
import MobileNav from "./mobile-nav.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import logo from "#assets/img/logo.svg";

const allComponents = await getCollection("components");
const desktopLinks: NavLinks = {
  primary: [
    {
      label: "Home",
      href: "/",
    },
    {
      label: "Getting Started",
      href: "/getting-started",
    },
    {
      label: "Components",
      href: "/components",
    },
    {
      label: "JavaScript",
      href: "/javascript",
    },
    {
      label: "Colors",
      href: "/colors",
    },
    {
      label: "Icons",
      href: "/icons",
    },
    {
      label: "Typography",
      href: "/typography",
    },
    // {
    //   label: "About",
    //   href: "/about",
    // },
  ],
};

const mobileLinks: NavLinks = {
  primary: [
    {
      label: "Home",
      href: "/",
    },
    {
      label: "Getting Started",
      href: "/getting-started",
    },
    {
      label: "Components",
      // href: '/components',
      children: allComponents.map((c) => ({
        label: c.data.title,
        href: `/components/${c.slug}`,
      })),
    },
    {
      label: "JavaScript",
      href: "/javascript",
    },
    {
      label: "Colors",
      href: "/colors",
    },
    {
      label: "Icons",
      href: "/icons",
    },
    {
      label: "Typography",
      href: "/typography",
    },
    // {
    //   label: "About",
    //   href: "/about",
    // },
  ],
};
---

<header
  class="border-b desktop:border-b-2 border-b-gray-cool-10 z-20 bg-white fixed top-0 inset-x-0"
>
  <div class="desktop:px-8">
    <div
      class="max-w-5xl flex justify-between items-center mx-auto h-12 desktop:h-16"
    >
      <div class="ml-4 desktop:ml-0 flex items-center w-full">
        <em class="font-bold not-italic">
          <a
            class="text-gray-90 text-xl flex gap-3 items-center focus:outline focus:outline-4 focus:outline-blue-40v"
            href="/"
          >
            <Image src={logo} class="h-8 w-auto" alt="Logo" />
            <span>USWDS + Tailwind</span>
          </a>
        </em>
        <div class="desktop:hidden ml-auto">
          <MobileNav primary={mobileLinks.primary} />
        </div>
      </div>
    </div>
  </div>
  <div class="hidden desktop:block border-t border-t-gray-cool-10">
    <DesktopNav primary={desktopLinks.primary} />
  </div>
</header>
