<div class="space-y-12">
	<section x-collapse class="bg-gray-5 group" aria-label="Official website of the United States government">
		<header class="flex text-xs gap-2 tablet:items-center px-4 max-tablet:pr-12 tablet:px-8 py-2 tablet:py-1 mx-auto max-w-5xl max-tablet:min-h-12 leading-tight tablet:leading-none relative">
			<div class="hidden max-tablet:group-[[data-open]]:flex items-center justify-center absolute right-0 inset-y-0 bg-gray-10 size-12">
				<span class="icon-[material-symbols--close] text-blue-60v size-6"></span>
			</div>
			<div class="max-tablet:pt-0.5 shrink-0">
				<img aria-hidden="true" src="../src/assets/images/us_flag_small.png" alt="" class="w-4 flex object-contain">
			</div>
			<div class="tablet:flex gap-2 items-center">
				<div>
					<p>An official website of the United States government</p>
				</div>
				<button x-collapse:trigger class="text-blue-60v max-tablet:group-[[data-open]]:block focus:outline-none tablet:focus:outline tablet:focus:outline-4 tablet:focus:outline-blue-40v cursor-pointer group max-tablet:after:absolute max-tablet:after:inset-0 max-tablet:focus:after:outline max-tablet:focus:after:outline-4 max-tablet:focus:after:outline-blue-40v ">
					<div class="inline-flex underline max-tablet:group-[[data-open]]:hidden">
						<span>Here&#8217;s how you know</span>
						<span class="icon-[material-symbols--keyboard-arrow-down] size-4 align-middle group-aria-expanded:rotate-180"></span>
					</div>
				</button>
			</div>
		</header>
		<div x-collapse:content class="py-6 px-6 grid tablet:grid-cols-2 gap-6 mx-auto max-w-5xl">
			<div class="flex gap-2">
				<div aria-hidden="true" class="rounded-full border border-blue-50 text-blue-50 size-10 shrink-0 justify-center items-center flex">
					<span class="icon-[material-symbols--account-balance] size-5 align-middle"></span>
				</div>
				<div>
					<p>
						<strong>Official websites use .gov</strong>
					</p>
					<p>
						A
						<strong>.gov</strong>
						website belongs to an official government organization in the United States.
					</p>
				</div>
			</div>
			<div class="flex gap-2">
				<div aria-hidden="true" class="rounded-full border border-green-40v text-green-40v size-10 shrink-0 justify-center items-center flex">
					<span class="icon-[material-symbols--lock] size-5 align-middle"></span>
				</div>
				<div>
					<p>
						<strong>Secure .gov websites use HTTPS</strong>
					</p>
					<p>
						A
						<strong>lock</strong>
						(<span class="icon-[material-symbols--lock] size-4 align-middle"></span>) or
						<strong>https://</strong>
						means you've safely connected to the .gov website. Share sensitive information only on official, secure websites.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section x-collapse class="bg-gray-5 group" aria-label="Official website of the U.S. Department of Defense">
		<header class="flex text-xs gap-2 tablet:items-center px-4 max-tablet:pr-12 tablet:px-8 py-2 tablet:py-1 mx-auto max-w-5xl max-tablet:min-h-12 leading-tight tablet:leading-none relative">
			<div class="hidden max-tablet:group-[[data-open]]:flex items-center justify-center absolute right-0 inset-y-0 bg-gray-10 size-12">
				<span class="icon-[material-symbols--close] text-blue-60v size-6"></span>
			</div>
			<div class="max-tablet:pt-0.5 shrink-0">
				<img aria-hidden="true" src="../src/assets/images/us_flag_small.png" alt="" class="w-4 flex object-contain">
			</div>
			<div class="tablet:flex gap-2 items-center">
				<div>
					<p>An official website of the United States government</p>
				</div>
				<button x-collapse:trigger class="text-blue-60v max-tablet:group-[[data-open]]:block focus:outline-none tablet:focus:outline tablet:focus:outline-4 tablet:focus:outline-blue-40v cursor-pointer group max-tablet:after:absolute max-tablet:after:inset-0 max-tablet:focus:after:outline max-tablet:focus:after:outline-4 max-tablet:focus:after:outline-blue-40v ">
					<div class="inline-flex underline max-tablet:group-[[data-open]]:hidden">
						<span>Here&#8217;s how you know</span>
						<span class="icon-[material-symbols--keyboard-arrow-down] size-4 align-middle group-aria-expanded:rotate-180"></span>
					</div>
				</button>
			</div>
		</header>
		<div x-collapse:content class="py-6 px-6 grid tablet:grid-cols-2 gap-6 mx-auto max-w-5xl">
			<div class="flex gap-2">
				<div aria-hidden="true" class="rounded-full border border-blue-50 text-blue-50 size-10 shrink-0 justify-center items-center flex">
					<span class="icon-[material-symbols--account-balance] size-5 align-middle"></span>
				</div>
				<div>
					<p>
						<strong>Official websites use .mil</strong>
					</p>
					<p>
						A
						<strong>.mil</strong>
						website belongs to an official U.S. Department of Defense organization.
					</p>
				</div>
			</div>
			<div class="flex gap-2">
				<div aria-hidden="true" class="rounded-full border border-green-40v text-green-40v size-10 shrink-0 justify-center items-center flex">
					<span class="icon-[material-symbols--lock] size-5 align-middle"></span>
				</div>
				<div>
					<p>
						<strong>Secure .mil websites use HTTPS</strong>
					</p>
					<p>
						A
						<strong>lock</strong>
						(<span class="icon-[material-symbols--lock] size-4 align-middle"></span>) or
						<strong>https://</strong>
						means you've safely connected to the .mil website. Share sensitive information only on official, secure websites.
					</p>
				</div>
			</div>
		</div>
	</section>

</div>
