<div x-data="{ isOpen: false }">

  <button
    @click="isOpen = true"
    class="rounded font-bold leading-none text-white px-5 py-3 bg-blue-60v hover:bg-blue-warm-70v active:bg-blue-warm-80v focus:outline focus:outline-4 focus:outline-offset-4 focus:outline-blue-40v"
  >Open default modal</button>

  <div
    x-modal
    x-model="isOpen"
  >
    <div
      x-modal:dialog
      class="fixed inset-0 overflow-y-auto flex items-center justify-center p-4 z-50"
      tabindex="-1"
    >
      <div
        x-modal:content
        class="relative w-full max-w-lg rounded-lg bg-white p-8 pt-10 shadow-lg"
        >
        <h2
          x-modal:title
          class="text-xl font-bold font-merriweather"
        >Are you sure you want to continue?</h2>
        <div class="mt-4">
          <p
            x-modal:description
            class="mt-2 text-gray-600"
          >You have unsaved changes that will be lost.</p>
        </div>
        <div class="mt-6">
          <ul class="flex max-mobile-lg:flex-col max-mobile-lg:space-y-2 mobile-lg:space-x-2">
            <li class="flex">
              <button
                type="button"
                @click="$modal.close()"
                class="rounded font-bold leading-none text-white px-5 py-3 bg-blue-60v hover:bg-blue-warm-70v active:bg-blue-warm-80v focus:outline focus:outline-4 focus:outline-offset-4 focus:outline-blue-40v"
              >Continue without saving</button>
            </li>
            <li class="flex">
              <button
                type="button"
                @click="$modal.close()"
                class="p-3 underline leading-none text-blue-60v bg-transparent hover:text-blue-warm-70v active:text-blue-warm-80v focus:outline focus:outline-4 focus:outline-offset-4 focus:outline-blue-40v"
              >Go back</button>
            </li>
          </ul>
        </div>
        <button
          type="button"
          @click="$modal.close()"
          class="absolute top-0 right-0 p-1 text-gray-50 bg-transparent rounded hover:text-gray-90 active:ext-gray-90 focus:outline focus:outline-4 focus:outline-offset-4 focus:outline-blue-40v"
          aria-label="Close this window"
        >
          <div class="icon-[material-symbols--close] size-8 mt-0.5 mr-0.5 align-middle"></div>
        </button>
      </div>
    </div>

    <div
      x-modal:backdrop
      class="fixed inset-0 bg-black/70 z-40"
      aria-hidden="true"
    ></div>

  </div>
</div>
