<ul class="divide-y *:py-4 first:*:pt-0 last:*:pb-0">
  <li class="max-w-xl flex gap-4">
    <div class="w-20 shrink-0">
      <img src="https://trumpadministration.archives.performance.gov/img/GoG/GoG-logo.png" alt="Gears of Government Awards - President's Award">
    </div>
    <div>
      <h4 class="text-lg leading-tight">
        <a href="#" rel="noreferrer" class="font-bold text-blue-60v visited:text-violet-70v hover:text-blue-70v focus:outline focus:outline-4 focus:outline-blue-40v underline after:icon-[material-symbols--open-in-new] after:size-4 after:align-middle after:ml-px">Gears of Government President’s Award winners</a>
      </h4>
      <p class="my-2">Today, the Administration announces the winners of the Gears of Government President’s Award. This program recognizes the contributions of individuals and teams across the federal workforce who make a profound difference in the lives of the American people.</p>
      <ul aria-label="More information" class="mt-1 space-y-1">
        <li class="text-sm leading-tight">
          <span>By Sondra Ainsworth and Constance Lu</span>
        </li>
        <li class="text-sm leading-tight">
          <time>September 30, 2020</time>
        </li>
      </ul>
      <ul aria-label="Topics" class="mt-2 flex flex-wrap gap-1">
        <li><span class="bg-orange-50v text-white rounded-sm py-px px-2 uppercase">NEW</span></li>
        <li><span class="bg-gray-10 rounded-sm py-px px-2 uppercase">PMA</span></li>
        <li><span class="bg-gray-10 rounded-sm py-px px-2 uppercase">OMB</span></li>
      </ul>
    </div>
  </li>
  <li class="max-w-xl flex gap-4">
    <div class="w-20 shrink-0">
      <img src="https://www.performance.gov/img/blog/wosb1.jpg" alt="Woman Owned Small Business Federal Contracts">
    </div>
    <div>
      <h4 class="text-lg leading-tight">
        <a href="#" rel="noreferrer" class="font-bold text-blue-60v visited:text-violet-70v hover:text-blue-70v focus:outline focus:outline-4 focus:outline-blue-40v underline after:icon-[material-symbols--open-in-new] after:size-4 after:align-middle after:ml-px">Women-owned small business dashboard</a>
      </h4>
      <p class="my-2">In honor of National Women’s Small Business Month, we’ve partnered with SBA’s Office of Government Contracting and Business Development and Office of Program Performance, Analysis, and Evaluation to highlight the Women-Owned Small Businesses (WOSBs) data dashboard!</p>
      <ul aria-label="More information" class="mt-1 space-y-1">
        <li class="text-sm leading-tight">
          <span>By Constance Lu</span>
        </li>
        <li class="text-sm leading-tight">
          <time>September 30, 2020</time>
        </li>
      </ul>
      <ul aria-label="Topics" class="mt-2 flex flex-wrap gap-1">
        <li><span class="bg-gray-10 rounded-sm py-px px-2 uppercase">SBA</span></li>
      </ul>
    </div>
  </li>
  <li class="max-w-xl flex gap-4">
    <div class="w-20 shrink-0">
      <img src="https://www.performance.gov/img/blog/sept-2020.png" alt="September 2020 Updates">
    </div>
    <div>
      <h4 class="text-lg leading-tight">
        <a href="#" rel="noreferrer" class="font-bold text-blue-60v visited:text-violet-70v hover:text-blue-70v focus:outline focus:outline-4 focus:outline-blue-40v underline after:icon-[material-symbols--open-in-new] after:size-4 after:align-middle after:ml-px">September 2020 updates show progress on cross-agency and agency priority goals</a>
      </h4>
      <p class="my-2">Today, we published progress updates for both Cross-Agency Priority (CAP) Goals and Agency Priority Goals (APGs) for the third quarter of FY2020. These updates highlight recent milestones and accomplishments as well as related initiatives that support progress towards a more modern and effective government.</p>
      <ul aria-label="More information" class="mt-1 space-y-1">
        <li class="text-sm leading-tight">
          <span>By Eric L. Miller</span>
        </li>
        <li class="text-sm leading-tight">
          <time>September 17, 2020</time>
        </li>
      </ul>
      <ul aria-label="Topics" class="mt-2 flex flex-wrap gap-1">
        <li><span class="bg-gray-10 rounded-sm py-px px-2 uppercase">QUARTERLY UPDATE</span></li>
        <li><span class="bg-gray-10 rounded-sm py-px px-2 uppercase">CAP GOAL</span></li>
        <li><span class="bg-gray-10 rounded-sm py-px px-2 uppercase">APG</span></li>
        <li><span class="bg-gray-10 rounded-sm py-px px-2 uppercase">PMA</span></li>
        <li><span class="bg-gray-10 rounded-sm py-px px-2 uppercase">SUCCESS STORY</span></li>
      </ul>
    </div>
  </li>
</ul>
