<ul class="divide-y *:py-2 first:*:pt-0 last:*:pb-0">
  <li class="max-w-xl flex gap-4">
    <div>
      <h4 class="text-lg leading-tight">
        <a href="#" rel="noreferrer" class="font-bold text-blue-60v visited:text-violet-70v hover:text-blue-70v focus:outline focus:outline-4 focus:outline-blue-40v underline after:icon-[material-symbols--open-in-new] after:size-4 after:align-middle after:ml-px">The eight principles of mobile-friendliness</a>
      </h4>
      <ul aria-label="More information" class="mt-1 space-y-1">
        <li class="text-sm leading-tight">
          <div class="flex items-center gap-1">
            <div class="icon-[material-symbols--globe] size-4"></div>
            <span>Digital.gov</span>
          </div>
        </li>
      </ul>
    </div>
  </li>
  <li class="max-w-xl flex gap-4">
    <div>
      <h4 class="text-lg leading-tight">
        <a href="#" rel="noreferrer" class="font-bold text-blue-60v visited:text-violet-70v hover:text-blue-70v focus:outline focus:outline-4 focus:outline-blue-40v underline after:icon-[material-symbols--open-in-new] after:size-4 after:align-middle after:ml-px">The USWDS maturity model</a>
      </h4>
      <ul aria-label="More information" class="mt-1 space-y-1">
        <li class="text-sm leading-tight">
          <div class="flex items-center gap-1">
            <div class="icon-[material-symbols--globe] size-4"></div>
            <span>U.S. Web Design System</span>
          </div>
        </li>
      </ul>
    </div>
  </li>
  <li class="max-w-xl flex gap-4">
    <div>
      <h4 class="text-lg leading-tight">
        <a href="#" rel="noreferrer" class="font-bold text-blue-60v visited:text-violet-70v hover:text-blue-70v focus:outline focus:outline-4 focus:outline-blue-40v underline after:icon-[material-symbols--open-in-new] after:size-4 after:align-middle after:ml-px">A news item that’s on our own site</a>
      </h4>
    </div>
  </li>
  <li class="max-w-xl flex gap-4">
    <div>
      <h4 class="text-lg leading-tight">
        <a href="#" rel="noreferrer" class="font-bold text-blue-60v visited:text-violet-70v hover:text-blue-70v focus:outline focus:outline-4 focus:outline-blue-40v underline after:icon-[material-symbols--open-in-new] after:size-4 after:align-middle after:ml-px">The key role of product owners in federated data projects</a>
      </h4>
      <ul aria-label="More information" class="mt-1 space-y-1">
        <li class="text-sm leading-tight">
          <div class="flex items-center gap-1">
            <div class="icon-[material-symbols--globe] size-4"></div>
            <span>18F</span>
          </div>
        </li>
      </ul>
    </div>
  </li>
  <li class="max-w-xl flex gap-4">
    <div>
      <h4 class="text-lg leading-tight">
        <a href="#" rel="noreferrer" class="font-bold text-blue-60v visited:text-violet-70v hover:text-blue-70v focus:outline focus:outline-4 focus:outline-blue-40v underline after:icon-[material-symbols--open-in-new] after:size-4 after:align-middle after:ml-px">Progress on Cross-Agency Priority (CAP) goals and Agency Priority Goals (APGs)</a>
      </h4>
      <ul aria-label="More information" class="mt-1 space-y-1">
        <li class="text-sm leading-tight">
          <div class="flex items-center gap-1">
            <div class="icon-[material-symbols--globe] size-4"></div>
            <span>Performance.gov</span>
          </div>
        </li>
      </ul>
    </div>
  </li>
</ul>
