---
import { ViewTransitions } from "astro:transitions";
import { getCollection } from "astro:content";

import GlobalNav from "#components/global-nav/index.astro";
// import Sidebar from "#components/sidebar.astro";

import "#styles/main.css";
import "@fontsource-variable/open-sans";
import "@fontsource-variable/public-sans";
import "@fontsource-variable/roboto-mono";
import "@fontsource-variable/source-sans-3";

import "@fontsource/merriweather/300.css";
import "@fontsource/merriweather/400.css";
import "@fontsource/merriweather/700.css";
import "@fontsource/merriweather/900.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="h-full font-public-sans">
    <div class="relative">
      <GlobalNav
        className="desktop:border-b-2 desktop:border-b-gray-cool-10 z-20 bg-white fixed top-0 inset-x-0"
      />
    </div>
    <slot />
  </body>
</html>
