<ul class="list-none space-y-3 max-w-lg">
  <li class="flex gap-1.5">
    <div class="icon-[material-symbols--check-circle] size-6 shrink-0"></div>
    <div>
      <h3 class="font-bold font-merriweather">Donate cash when possible.</h3>
      <p class="mt-2">Financial contributions to recognized disaster relief organizations are the fastest, most flexible and most effective method of donating. Organizations on the ground know what items and quantities are needed, often buy in bulk with discounts and, if possible, purchase through businesses local to the disaster, which supports economic recovery.</p>
    </div>
  </li>
  <li class="flex gap-1.5">
    <div class="icon-[material-symbols--check-circle] size-6 shrink-0"></div>
    <div>
      <h3 class="font-bold font-merriweather">Confirm what donations are needed.</h3>
      <p class="mt-2">Unneeded and unsolicited goods burden local organizations’ ability to meet survivors’ confirmed needs, drawing away valuable volunteer labor, transportation and warehouse space.</p>
    </div>
  </li>
  <li class="flex gap-1.5">
    <div class="icon-[material-symbols--check-circle] size-6 shrink-0"></div>
    <div>
      <h3 class="font-bold font-merriweather">Talk to trusted organizations about volunteering.</h3>
      <p class="mt-2">Financial contributions to recognized disaster relief organizations are the fastest, most flexible and most effective method of donating. Organizations on the ground know what items and quantities are needed, often buy in bulk with discounts and, if possible, purchase through businesses local to the disaster, which supports economic recovery.</p>
    </div>
  </li>
</ul>
