<p class="mb-4">Benefits of joining Global Entry program:</p>
<ul class="list-none space-y-3 max-w-lg">
  <li class="flex gap-1.5">
    <div class="icon-[material-symbols--thumb-up] size-6 shrink-0 text-blue-60v"></div>
    <div>
      <p>No processing lines</p>
    </div>
  </li>
  <li class="flex gap-1.5">
    <div class="icon-[material-symbols--thumb-up] size-6 shrink-0 text-blue-60v"></div>
    <div>
      <p>Access to expedited entry benefits in other countries</p>
    </div>
  </li>
  <li class="flex gap-1.5">
    <div class="icon-[material-symbols--thumb-up] size-6 shrink-0 text-blue-60v"></div>
    <div>
      <p>Available at major U.S. airports</p>
    </div>
  </li>
  <li class="flex gap-1.5">
    <div class="icon-[material-symbols--thumb-up] size-6 shrink-0 text-blue-60v"></div>
    <div>
      <p>Reduced wait times</p>
    </div>
  </li>
</ul>
