<div class="space-y-4">

  <div class="bg-cyan-5 border-l-8 border-l-cyan-30v">
    <div class="py-4 pl-12 pr-4 desktop:px-16 relative max-w-5xl mx-auto">
      <div class="absolute left-2 desktop:left-6 top-3">
        <div class="icon-[material-symbols--info] h-8 w-8"></div>
      </div>
      <h4 class="text-2xl font-bold mb-2 leading-none">Informative status</h4>
      <p class="leading-normal">Lorem ipsum dolor sit amet, <a href="#" class="text-blue-60v underline">consectetur adipiscing</a> elit, sed do eiusmod.</p>
    </div>
  </div>

  <div class="bg-yellow-5 border-l-8 border-l-gold-20v">
    <div class="py-4 pl-12 pr-4 desktop:px-16 relative max-w-5xl mx-auto">
      <div class="absolute left-2 desktop:left-6 top-3">
        <div class="icon-[material-symbols--warning] h-8 w-8"></div>
      </div>
      <h4 class="text-2xl font-bold mb-2 leading-none">Warning status</h4>
      <p class="leading-normal">Lorem ipsum dolor sit amet, <a href="#" class="text-blue-60v underline">consectetur adipiscing</a> elit, sed do eiusmod.</p>
    </div>
  </div>

  <div class="bg-green-cool-5 border-l-8 border-l-green-cool-40v">
    <div class="py-4 pl-12 pr-4 desktop:px-16 relative max-w-5xl mx-auto">
      <div class="absolute left-2 desktop:left-6 top-3">
        <div class="icon-[material-symbols--check-circle] h-8 w-8"></div>
      </div>
      <h4 class="text-2xl font-bold mb-2 leading-none">Success status</h4>
      <p class="leading-normal">Lorem ipsum dolor sit amet, <a href="#" class="text-blue-60v underline">consectetur adipiscing</a> elit, sed do eiusmod.</p>
    </div>
  </div>

  <div class="bg-red-warm-10 border-l-8 border-l-red-warm-50v">
    <div class="py-4 pl-12 pr-4 desktop:px-16 relative max-w-5xl mx-auto">
      <div class="absolute left-2 desktop:left-6 top-3">
        <div class="icon-[material-symbols--error] h-8 w-8"></div>
      </div>
      <h4 class="text-2xl font-bold mb-2 leading-none">Error status</h4>
      <p class="leading-normal">Lorem ipsum dolor sit amet, <a href="#" class="text-blue-60v underline">consectetur adipiscing</a> elit, sed do eiusmod.</p>
    </div>
  </div>

  <div class="bg-red-warm-60v border-l-8 border-l-red-warm-60v text-white">
    <div class="py-4 pl-12 pr-4 desktop:px-16 relative max-w-5xl mx-auto">
      <div class="absolute left-2 desktop:left-6 top-3">
        <div class="icon-[material-symbols--error] h-8 w-8"></div>
      </div>
      <h4 class="text-2xl font-bold mb-2 leading-none">Emergency status</h4>
      <p class="leading-normal">Lorem ipsum dolor sit amet, <a href="#" class="text-gray-10 underline">consectetur adipiscing</a> elit, sed do eiusmod.</p>
    </div>
  </div>

</div>
