@import "tailwindcss";
@import "@uswds-tailwind/theme";
@config "@uswds-tailwind/theme/tailwind.config.ts";

@import "@fontsource-variable/open-sans";
@import "@fontsource-variable/public-sans";
@import "@fontsource-variable/roboto-mono";
@import "@fontsource-variable/source-sans-3";

@import "@fontsource/merriweather/300.css";
@import "@fontsource/merriweather/400.css";
@import "@fontsource/merriweather/700.css";
@import "@fontsource/merriweather/900.css";

@plugin "@iconify/tailwind4";
@plugin "@tailwindcss/typography"{
  className: docs-prose;
}

.docs-prose {
  &
    :where(h1):not(
      :where([class~="not-docs-prose"], [class~="not-docs-prose"] *)
    ),
  &
    :where(h2):not(
      :where([class~="not-docs-prose"], [class~="not-docs-prose"] *)
    ),
  &
    :where(h3):not(
      :where([class~="not-docs-prose"], [class~="not-docs-prose"] *)
    ),
  &
    :where(h4):not(
      :where([class~="not-docs-prose"], [class~="not-docs-prose"] *)
    ),
  &
    :where(h5):not(
      :where([class~="not-docs-prose"], [class~="not-docs-prose"] *)
    ),
  &
    :where(h6):not(
      :where([class~="not-docs-prose"], [class~="not-docs-prose"] *)
    ),
  &
    :where(p):not(
      :where([class~="not-docs-prose"], [class~="not-docs-prose"] *)
    ) {
    @apply max-w-prose;
  }

  & h4 > code {
    @apply bg-gray-cool-5 py-0.5 px-1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply scroll-mt-36;
}

.expressive-code {
  & .copy button {
    opacity: 1 !important;
  }

  & .frame.has-title pre {
    @apply !rounded-b;
  }

  & .frame.has-title:not(.is-terminal) .header::before,
  .frame.has-title:not(.is-terminal) .title {
    @apply !rounded-t;
  }
}

.expressive-code {
  --ec-brdWd: 1px;
  --ec-frm-edTabBarBg: #edeff0;
  --ec-frm-edTabBarBrdCol: #c6cace;
  --ec-brdCol: #c6cace;
}

::view-transition-group(header) {
  z-index: 2;
}
::view-transition-group(content) {
  z-index: 1;
}

.uswds-ready [x-cloak] {
  display: none !important;
}

::-webkit-search-cancel-button {
  @apply appearance-none;
}

:root {
  --docsearch-primary-color: #005ea2;
  --docsearch-muted-color: #565c65;
  --docsearch-hit-color: #000000;
  --docsearch-container-background: rgba(0, 0, 0, 0.7);
}

.DocSearch-Commands-Key {
  @apply relative -top-0.5 flex items-center font-roboto-mono rounded text-gray-cool-70 bg-gray-cool-2 bg-gradient-to-b from-gray-cool-5 to-gray-cool-1 shadow-[0_2px_0_#c6cace,_0_3px_2px_#71767a,_0_2px_0_0_#ffffff_inset];

  svg {
    @apply relative top-0.5;
  }
}
