@tailwind base;
@tailwind components;
@tailwind utilities;

.docs-prose {
  &
    :where(h1):not(
      :where([class~="not-docs-prose"], [class~="not-docs-prose"] *)
    ),
  &
    :where(h2):not(
      :where([class~="not-docs-prose"], [class~="not-docs-prose"] *)
    ),
  &
    :where(h3):not(
      :where([class~="not-docs-prose"], [class~="not-docs-prose"] *)
    ),
  &
    :where(h4):not(
      :where([class~="not-docs-prose"], [class~="not-docs-prose"] *)
    ),
  &
    :where(h5):not(
      :where([class~="not-docs-prose"], [class~="not-docs-prose"] *)
    ),
  &
    :where(h6):not(
      :where([class~="not-docs-prose"], [class~="not-docs-prose"] *)
    ),
  &
    :where(p):not(
      :where([class~="not-docs-prose"], [class~="not-docs-prose"] *)
    ) {
    @apply max-w-prose;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply scroll-mt-36;
}

.expressive-code {
  & .copy button {
    opacity: 1 !important;
  }

  & .frame.has-title pre {
    @apply !rounded-b;
  }

  & .frame.has-title:not(.is-terminal) .header::before,
  .frame.has-title:not(.is-terminal) .title {
    @apply !rounded-t;
  }
}

.expressive-code {
  --ec-brdWd: 1px;
  --ec-frm-edTabBarBg: #edeff0;
  --ec-frm-edTabBarBrdCol: #c6cace;
  --ec-brdCol: #c6cace;
}

::view-transition-group(header) {
  z-index: 2;
}
::view-transition-group(content) {
  z-index: 1;
}
