<div class="space-x-12 flex">

  <ul class="list-disc pl-8 mt-4 space-y-1">
    <li>Unordered list item</li>
    <li>Unordered list item</li>
    <li>Unordered list item</li>
  </ul>

  <ol class="list-decimal pl-8 mt-4 space-y-1">
    <li>Ordered list item</li>
    <li>Ordered list item</li>
    <li>Ordered list item</li>
  </ol>

  <ul class="list-none">
    <li>Unstyled list item</li>
    <li>Unstyled list item</li>
    <li>Unstyled list item</li>
  </ul>

</div>
