---
import TableOfContents from "#components/table-of-contents.astro";
import Layout from "#layouts/base-layout.astro";
import { getEntry } from "astro:content";

const post = await getEntry("pages", "getting-started");
const { Content, headings } = await post.render();

const visibleHeadings = headings.filter((h) => h.depth <= 3);
---

<Layout title="Getting Started">
  <div class="flex w-full">
    <TableOfContents headings={visibleHeadings} />
    <div class="px-4 tablet:px-12 py-12 min-w-0 w-full">
      <div class="flex flex-col mx-auto max-w-5xl">
        <div class="mb-16">
          <h1 class="text-4xl font-bold mb-4">
            {post.data.title}
          </h1>
          <p class="text-xl font-light max-w-prose">
            {post.data.description}
          </p>
        </div>
        <div class="docs-prose">
          <Content />
        </div>
      </div>
    </div>
  </div>
</Layout>
