---
import IconList from '#components/icon-list'
// import TableOfContents from "#components/table-of-contents.astro";
import BaseLayout from '#layouts/base-layout.astro'
import ContentLayout from '#layouts/content-layout.astro'
import { actions } from 'astro:actions'

const formData = new FormData()
formData.append('search', '')
const { data } = await Astro.callAction(actions.getIcons, formData)

const initialIcons = data?.filteredIcons || []
const totalIconCount = data?.totalIconCount || 0;
---

<BaseLayout
  title="Icons"
  description="Icons help communicate meaning, actions, status, or feedback."
>
  <ContentLayout>
    <main id="main-content" class="flex w-full">
      <div class="px-4 tablet:px-12 py-12 min-w-0 w-full">
        <div class="flex flex-col mx-auto max-w-5xl">
          <div class="max-w-3xl">
            <div class="mb-16">
              <h1 class="text-4xl font-bold mb-4">Icons</h1>
              <p class="text-xl font-light max-w-prose">
                Icons help communicate meaning, actions, status, or feedback.
              </p>
            </div>
            <IconList
              initialIcons={initialIcons}
              totalIconCount={totalIconCount}
              client:load
            />
          </div>
        </div>
      </div>
    </main>
  </ContentLayout>
</BaseLayout>
