<div class="space-y-12">

  <div class="max-w-xs">
    <label for="default" class="block">Default input</label>
    <div class="mt-2 relative">
      <input
        id="default"
        class="p-2 bg-transparent w-full focus:border-gray-60 border-gray-60 focus:outline focus:outline-offset-0 focus:outline-4 focus:outline-blue-40v data-[invalid]:border-4 data-[invalid]:border-red-60v"
      />
    </div>
  </div>

  <div class="max-w-xs">
    <label for="description" class="block">Description input</label>
    <div id="input-hint" class="text-gray-50">An input description</div>
    <div class="mt-2 relative">
      <input
        id="description"
        aria-describedby="input-hint"
        class="p-2 bg-transparent w-full focus:border-gray-60 border-gray-60 focus:outline focus:outline-offset-0 focus:outline-4 focus:outline-blue-40v data-[invalid]:border-4 data-[invalid]:border-red-60v"
      />
    </div>
  </div>

  <div class="max-w-xs">
    <label for="error" class="block">Error input</label>
    <div class="mt-2 relative">
      <input
        id="error"
        class="p-2 bg-transparent w-full focus:border-gray-60 border-gray-60 focus:outline focus:outline-offset-0 focus:outline-4 focus:outline-blue-40v data-[invalid]:border-4 data-[invalid]:border-red-60v"
        data-invalid="true"
      />
    </div>
  </div>

</div>
