@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none !important;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined Variable";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

:root {
  --font-normalize-georgia: 1.05;
  --font-normalize-helvetica: 1.01;
  --font-normalize-merriweather: 0.98;
  --font-normalize-open-sans: 1.01;
  --font-normalize-public-sans: 1;
  --font-normalize-roboto-mono: 0.95;
  --font-normalize-source-sans-pro: 1.06;
  --font-normalize-system-fonts: 1;
  --font-normalize-tahoma: 1;
  --font-normalize-verdana: 0.99;
}
