<div>

  <nav aria-label="Side navigation">
    <ul class="border-b border-b-gray-10 [&_a]:pl-4 [&_ul_a]:pl-8 [&_ul_ul_a]:pl-12">
      {% for item in navigation %}
        <li class="border-t border-t-gray-10">
          <a
            href="{{ item.href }}"
            class="block relative py-2 px-4 text-gray-60 hover:text-blue-60v hover:bg-gray-5 focus:outline-4 focus:outline-offset-0 focus:outline-blue-40v aria-[current=page]:text-blue-60v aria-[current=page]:font-bold aria-[current=page]:after:block aria-[current=page]:after:absolute aria-[current=page]:after:bg-blue-60v aria-[current=page]:after:inset-y-1 aria-[current=page]:after:left-0 aria-[current=page]:after:w-1 aria-[current=page]:after:rounded-full"
            {{ item.is_active ? "aria-current='page'" }}
            >
            {{- item.label -}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>

</div>
