<section aria-label="Site alert" class="bg-red-warm-60v border-l-8 border-l-red-warm-60v text-white">
  <div class="py-4 pl-12 pr-4 desktop:px-16 relative max-w-5xl mx-auto">
    <div class="absolute left-2 desktop:left-6 top-3">
      <div class="icon-[material-symbols--info] h-8 w-8"></div>
    </div>
    <h3 class="text-2xl font-bold mb-2 leading-none">Emergency alert message</h3>
    <p class="leading-normal">Additional context and followup information including <a href="#" class="text-gray-10 underline">a link</a>.</p>
  </div>
</section>
