<div
	class="grid grid-cols-1 desktop:grid-cols-2 gap-y-8 gap-x-4">

	{# Default #}
	<div class="flex flex-col mobile-lg:flex-row">
		<div class="max-mobile-lg:border-x-2 mobile-lg:border-y-2 max-mobile-lg:border-b-2 mobile-lg:border-e-2 max-mobile-lg:rounded-b mobile-lg:rounded-e border-gray-10 grow">
			<div class="px-6 pt-6 pb-2">
				<h2 class="font-bold font-merriweather text-lg">Default flag</h2>
			</div>
			<div class="px-6 py-2 grow">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
			</div>
			<div class="px-6 pb-6 pt-2">
				<button class="rounded font-bold leading-none text-white px-5 py-3 bg-blue-60v hover:bg-blue-warm-70v active:bg-blue-warm-80v focus:outline focus:outline-4 focus:outline-offset-4 focus:outline-blue-40v">Visit Florida Keys</button>
			</div>
		</div>
		<div class="max-mobile-lg:border-x-2 mobile-lg:border-y-2 max-mobile-lg:border-t-2 mobile-lg:border-s-2 border-gray-10 max-mobile-lg:rounded-t mobile-lg:rounded-s overflow-hidden shrink-0 -order-1">
			<img class="max-mobile-lg:aspect-video size-full mobile-lg:w-60 object-cover" src="../src/assets/images/preview.jpg" alt="">
		</div>
	</div>

	{# Image First #}
	<div class="flex flex-col mobile-lg:flex-row">
		<div class="max-mobile-lg:border-x-2 mobile-lg:border-y-2 max-mobile-lg:border-b-2 mobile-lg:border-s-2 max-mobile-lg:rounded-b mobile-lg:rounded-s border-gray-10 grow">
			<div class="px-6 pt-6 pb-2">
				<h2 class="font-bold font-merriweather text-lg">Flag media right inset</h2>
			</div>
			<div class="px-6 py-2 grow">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
			</div>
			<div class="px-6 pb-6 pt-2">
				<button class="rounded font-bold leading-none text-white px-5 py-3 bg-blue-60v hover:bg-blue-warm-70v active:bg-blue-warm-80v focus:outline focus:outline-4 focus:outline-offset-4 focus:outline-blue-40v">Visit Florida Keys</button>
			</div>
		</div>
		<div class="max-mobile-lg:border-x-2 mobile-lg:border-y-2 max-mobile-lg:border-t-2 mobile-lg:border-e-2 border-gray-10 max-mobile-lg:rounded-t mobile-lg:rounded-e overflow-hidden shrink-0 max-mobile-lg:-order-1">
			<img class="max-mobile-lg:aspect-video size-full mobile-lg:w-60 object-cover p-6" src="../src/assets/images/preview.jpg" alt="">
		</div>
	</div>

</div>
