<div class="space-y-4">

	<div class="mx-auto max-w-screen-desktop grid grid-cols-12 divide-x divide-red-30 border-x border-x-red-30">
		{% for i in 1..12 %}
			<div class="flex justify-center leading-none">{{i}}</div>
		{% endfor %}
	</div>

	<div class="mx-auto max-w-screen-desktop grid grid-cols-3">
		<div class="bg-blue-warm-10 p-4 border border-black">
			(col-span-1)
		</div>
		<div class="bg-blue-warm-10 p-4 border border-black">
			(col-span-1)
		</div>
		<div class="bg-blue-warm-10 p-4 border border-black">
			(col-span-1)
		</div>
	</div>

	<div class="mx-auto max-w-screen-desktop grid grid-cols-4">
		<div class="bg-blue-warm-10 p-4 border border-black">
			(col-span-1)
		</div>
		<div class="bg-blue-warm-10 p-4 border border-black">
			(col-span-1)
		</div>
		<div class="bg-blue-warm-10 p-4 border border-black">
			(col-span-1)
		</div>
	</div>

	<div class="mx-auto max-w-screen-desktop grid grid-cols-12">
		<div class="bg-blue-warm-10 p-4 border border-black col-span-4">
			.col-span-4
		</div>
		<div class="bg-blue-warm-10 p-4 border border-black col-span-4">
			.col-span-4
		</div>
		<div class="bg-blue-warm-10 p-4 border border-black col-span-4">
			.col-span-4
		</div>
	</div>

	<div class="mx-auto max-w-screen-desktop grid tablet:grid-cols-12">
		<div class="bg-blue-warm-10 p-4 border border-black tablet:col-span-4">
			.tablet:col-span-4
		</div>
		<div class="bg-blue-warm-10 p-4 border border-black tablet:col-span-4">
			.tablet:col-span-4
		</div>
		<div class="bg-blue-warm-10 p-4 border border-black tablet:col-span-4">
			.tablet:col-span-4
		</div>
	</div>
</div>
