<div
	class="grid grid-cols-1 tablet:grid-cols-2 desktop:grid-cols-3 gap-y-8 gap-x-4">

	{# Default #}
	<div class="flex flex-col">
		<div class="border-x-2 border-t-2 border-gray-10 rounded-t px-6 pt-6 pb-2">
			<h2 class="font-bold font-merriweather text-lg">Card</h2>
		</div>
		<div class="border-x-2 border-gray-10 px-6 py-2 grow">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis earum tenetur quo cupiditate, eaque qui officia recusandae.</p>
		</div>
		<div class="border-x-2 border-b-2 border-gray-10 rounded-b px-6 pb-6 pt-2">
			<button class="rounded font-bold leading-none text-white px-5 py-3 bg-blue-60v hover:bg-blue-warm-70v active:bg-blue-warm-80v focus:outline focus:outline-4 focus:outline-offset-4 focus:outline-blue-40v">Visit Florida Keys</button>
		</div>
	</div>

	{# Image First #}
	<div class="flex flex-col ">
		<div class="border-x-2 border-gray-10 px-6 pt-6 pb-2">
			<h2 class="font-bold font-merriweather text-lg">Card</h2>
		</div>
		<div class="border-x-2 border-t-2 border-gray-10 rounded-t overflow-hidden -order-1">
			<img class="aspect-video object-cover" src="../src/assets/images/preview.jpg" alt="">
		</div>
		<div class="border-x-2 border-gray-10 px-6 py-2 grow">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis earum tenetur quo cupiditate, eaque qui officia recusandae.</p>
		</div>
		<div class="border-x-2 border-b-2 border-gray-10 rounded-b px-6 pb-6 pt-2">
			<button class="rounded font-bold leading-none text-white px-5 py-3 bg-blue-60v hover:bg-blue-warm-70v active:bg-blue-warm-80v focus:outline focus:outline-4 focus:outline-offset-4 focus:outline-blue-40v">Visit Florida Keys</button>
		</div>
	</div>

	{# Heading First #}
	<div class="flex flex-col">
		<div class="border-x-2 border-t-2 border-gray-10 rounded-t px-6 pt-6 pb-2">
			<h2 class="font-bold font-merriweather text-lg">Media with header first</h2>
		</div>
		<div class="border-x-2 border-gray-10 overflow-hidden">
			<img class="aspect-video object-cover" src="../src/assets/images/preview.jpg" alt="">
		</div>
		<div class="border-x-2 border-gray-10 px-6 pt-4 pb-2 grow">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis earum tenetur quo cupiditate, eaque qui officia recusandae.</p>
		</div>
		<div class="border-x-2 border-b-2 border-gray-10 rounded-b px-6 pb-6 pt-2">
			<button class="rounded font-bold leading-none text-white px-5 py-3 bg-blue-60v hover:bg-blue-warm-70v active:bg-blue-warm-80v focus:outline focus:outline-4 focus:outline-offset-4 focus:outline-blue-40v">Visit Florida Keys</button>
		</div>
	</div>

	{# Inset Media #}
	<div class="flex flex-col">
		<div class="border-x-2 border-gray-10 px-6 pt-6 pb-2">
			<h2 class="font-bold font-merriweather text-lg">Inset Media</h2>
		</div>
		<div class="border-x-2 border-t-2 rounded-t border-gray-10 -order-1">
			<img class="aspect-video object-cover p-6 pb-0" src="../src/assets/images/preview.jpg" alt="">
		</div>
		<div class="border-x-2 border-gray-10 px-6 py-2 grow">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis earum tenetur quo cupiditate, eaque qui officia recusandae.</p>
		</div>
		<div class="border-x-2 border-b-2 border-gray-10 rounded-b px-6 pb-6 pt-2">
			<button class="rounded font-bold leading-none text-white px-5 py-3 bg-blue-60v hover:bg-blue-warm-70v active:bg-blue-warm-80v focus:outline focus:outline-4 focus:outline-offset-4 focus:outline-blue-40v">Visit Florida Keys</button>
		</div>
	</div>

	{# Exdent Media #}
	<div class="flex flex-col">
		<div class="border-x-2 border-gray-10  px-6 pt-6 pb-2">
			<h2 class="font-bold font-merriweather text-lg">Exdent Media</h2>
		</div>
		<div class="border-gray-10 rounded-t overflow-hidden -order-1">
			<img class="aspect-video object-cover" src="../src/assets/images/preview.jpg" alt="">
		</div>
		<div class="border-x-2 border-gray-10 px-6 py-2 grow">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis earum tenetur quo cupiditate, eaque qui officia recusandae.</p>
		</div>
		<div class="border-x-2 border-b-2 border-gray-10 rounded-b px-6 pb-6 pt-2">
			<button class="rounded font-bold leading-none text-white px-5 py-3 bg-blue-60v hover:bg-blue-warm-70v active:bg-blue-warm-80v focus:outline focus:outline-4 focus:outline-offset-4 focus:outline-blue-40v">Visit Florida Keys</button>
		</div>
	</div>
</div>
