{% extends "base.twig" %} {% block content %}

{% set accordions = [{
  title: 'First Amendment',
  content: 'Congress shall make no law respecting an
establishment of religion, or prohibiting the free exercise thereof; or
abridging the freedom of speech, or of the press; or the right of the people
peaceably to assemble, and to petition the Government for a redress of
grievances.'
},
{
  title: 'First Amendment',
  content: 'Congress shall make no law
respecting an establishment of religion, or prohibiting the free exercise
thereof; or abridging the freedom of speech, or of the press; or the right of
the people peaceably to assemble, and to petition the Government for a redress
of grievances.'
},
{
   title: 'First Amendment',
   content: 'Congress shall make no
law respecting an establishment of religion, or prohibiting the free exercise
thereof; or abridging the freedom of speech, or of the press; or the right of
the people peaceably to assemble, and to petition the Government for a redress
of grievances.'
}] %}

<div class="p-4">
  <div
    x-data="{
      activeAccordion: '',
      setActiveAccordion(id) {
      this.activeAccordion = (this.activeAccordion == id) ? '' : id
      }
    }"
    @keydown.down="$focus.wrap().next()"
    @keydown.up="$focus.wrap().previous()"
    class="space-y-2"
  >
    {% for accordion in accordions %}
    <div x-data="{ id: $id('accordion') }" class="">
      <h4 class="font-source-sans-pro relative">
        <button
          @click="setActiveAccordion(id)"
          class="flex items-center w-full py-4 px-5 bg-gray-5 hover:bg-gray-10 font-bold focus:outline focus-within:outline-4 focus-within:outline-blue-40v cursor-pointer text-left gap-3"
          :aria-controls="id"
          :aria-expanded="activeAccordion==id"
        >
          {{ accordion.title }}
          <div class="h-full flex items-center ml-auto shrink-0">
            <div
              class="icon-[material-symbols--add] h-6 w-6"
              x-show="activeAccordion!=id"
              x-cloak
              ></div>
            <div
              class="icon-[material-symbols--remove] h-6 w-6"
              x-show="activeAccordion==id"
              x-cloak
              ></div>
          </div>
        </button>
      </h4>
      <div :id="id" class="py-6 px-4" x-show="activeAccordion==id" x-cloak>
        <p class="font-source-sans-pro leading-normal max-w-prose">
          {{ accordion.content }}
        </p>
      </div>
    </div>

    {% endfor %}
  </div>
</div>

{% endblock %}
