{% extends "base.twig" %} {% block content %}

<div class="p-4 space-y-4">

  <div class="bg-cyan-5 border-l-8 border-l-cyan-30v">
    <div class="py-4 pl-12 pr-4 desktop:px-16 relative max-w-5xl mx-auto">
      <div class="absolute left-3 desktop:left-6 top-4">
        <div class="icon-[material-symbols--info] h-6 w-6"></div>
      </div>
      <p class="font-source-sans-pro leading-normal">Lorem ipsum dolor sit amet, <a href="#" class="text-blue-60v underline">consectetur adipiscing</a> elit, sed do eiusmod.</p>
    </div>
  </div>

  <div class="bg-yellow-5 border-l-8 border-l-gold-20v">
    <div class="py-4 pl-12 pr-4 desktop:px-16 relative max-w-5xl mx-auto">
      <div class="absolute left-3 desktop:left-6 top-4">
        <div class="icon-[material-symbols--warning] h-6 w-6"></div>
      </div>
      <p class="font-source-sans-pro leading-normal">Lorem ipsum dolor sit amet, <a href="#" class="text-blue-60v underline">consectetur adipiscing</a> elit, sed do eiusmod.</p>
    </div>
  </div>

  <div class="bg-red-warm-10 border-l-8 border-l-red-warm-50v">
    <div class="py-4 pl-12 pr-4 desktop:px-16 relative max-w-5xl mx-auto">
      <div class="absolute left-3 desktop:left-6 top-4">
        <div class="icon-[material-symbols--error] h-6 w-6"></div>
      </div>
      <p class="font-source-sans-pro leading-normal">Lorem ipsum dolor sit amet, <a href="#" class="text-blue-60v underline">consectetur adipiscing</a> elit, sed do eiusmod.</p>
    </div>
  </div>

  <div class="bg-green-cool-5 border-l-8 border-l-green-cool-40v">
    <div class="py-4 pl-12 pr-4 desktop:px-16 relative max-w-5xl mx-auto">
      <div class="absolute left-3 desktop:left-6 top-4">
        <div class="icon-[material-symbols--check-circle] h-6 w-6"></div>
      </div>
      <p class="font-source-sans-pro leading-normal">Lorem ipsum dolor sit amet, <a href="#" class="text-blue-60v underline">consectetur adipiscing</a> elit, sed do eiusmod.</p>
    </div>
  </div>

</div>

{% endblock %}
