<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="preload"
      href="{{ environment == 'production' ? './main.css' : './dist/main.css' }}"
      as="style"
    />
    <link
      rel="preload"
      href="{{ environment == 'production' ? './main.js' : './dist/main.js' }}"
      as="script"
    />

    <link
      rel="stylesheet"
      href="{{ environment == 'production' ? './main.css' : './dist/main.css' }}"
    />
  </head>

  <body class="font-source-sans-pro text-base">
    {% block content %} No content found! {% endblock %}

    <script
      src="{{ environment == 'production' ? './main.js' : './dist/main.js' }}"
      defer
    ></script>
  </body>
</html>
