@import "npm:@fontsource-variable/open-sans";
@import "npm:@fontsource-variable/public-sans";
@import "npm:@fontsource-variable/roboto-mono";
@import "npm:@fontsource-variable/source-sans-3";

@import "npm:@fontsource/merriweather/300.css";
@import "npm:@fontsource/merriweather/400.css";
@import "npm:@fontsource/merriweather/700.css";
@import "npm:@fontsource/merriweather/900.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.uswds-ready [x-cloak] {
  display: none !important;
}

:root {
  --font-normalize-georgia: 1.05;
  --font-normalize-helvetica: 1.01;
  --font-normalize-merriweather: 0.98;
  --font-normalize-open-sans: 1.01;
  --font-normalize-public-sans: 1;
  --font-normalize-roboto-mono: 0.95;
  --font-normalize-source-sans: 1.06;
  --font-normalize-system-fonts: 1;
  --font-normalize-tahoma: 1;
  --font-normalize-verdana: 0.99;
}
