<div class="max-w-xs" x-character-count>
	<label for="input-limit" class="block">Text input
	</label>
	<div>
		<span id="input-hint" class="text-gray-50">This is an input with a character counter.</span>
	</div>
	<div class="mt-2 relative">
		<input x-character-count:input maxlength="25" id="input-limit" aria-describedby="input-hint character-count-hint" class="p-2 w-full max-w-lg h-10 border border-gray-60 focus:outline-offset-0 focus:outline-4 focus:outline-blue-40v invalid:ring-4 invalid:ring-red-60v invalid:border-transparent invalid:outline-offset-4 valid:ring-4 valid:ring-green-cool-40v valid:border-transparent valid:outline-offset-4"/>
	</div>
	<div class="pt-2">
		<span id="character-count-hint" class="sr-only">You can enter up to 25 characters</span>
		<span x-character-count:status aria-hidden="true" class="text-gray-50 invalid:text-red-60v invalid:font-bold">You can enter up to 25 characters</span>
		<span x-character-count:sr-status aria-live="polite" class="sr-only">You can enter up to 25 characters</span>
	</div>
</div>
